body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Tajawal', sans-serif; }

.header_background {
  min-width: 100%;
  background: linear-gradient(rgba(5, 159, 255, 0.5), #06a0ff), url(../media/img/headerImg1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 86%, 0 94%);
  clip-path: polygon(0 0, 100% 0, 100% 86%, 0 94%); }
  .header_background-text {
    justify-content: center; }
    .header_background-text > h1 {
      margin: 0 auto;
      padding-top: 2em;
      color: white;
      font-size: 90px; }
    .header_background-text > h2 {
      margin: 0 auto;
      font-size: 45px;
      color: white; }
    .header_background-text > a {
      text-decoration: none;
      text-align: center; }

.section_div {
  display: grid;
  justify-content: center;
  text-align: center;
  font-size: arial;
  font-size: 30px; }
  .section_div--me {
    padding: 50px;
    margin: 20px 60px; }
    .section_div--me > h3 {
      font-size: 70px; }
    .section_div--me-whatIdo {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around; }
      .section_div--me-whatIdo > h3 {
        font-size: 70px; }
      .section_div--me-whatIdo > .item {
        padding-top: 20px;
        width: 320px;
        height: 500px;
        align-items: center; }
        .section_div--me-whatIdo > .item > img {
          width: 200px; }
        .section_div--me-whatIdo > .item > .hostClass {
          padding-left: 31px; }
    .section_div--me-technologies > h3 {
      font-size: 70px; }
    .section_div--me-technologies > .img1 {
      width: 100px; }
    .section_div--me-technologies > .img2 {
      width: 93px; }
    .section_div--me-technologies > .img3 {
      width: 100px; }
    .section_div--me-technologies > .img4 {
      width: 90px; }
    .section_div--me-technologies > .img5 {
      width: 85px;
      padding-left: 15px; }
    .section_div--me-technologies > .img6 {
      width: 100px; }
  .section_div > a {
    text-decoration: none; }

@media screen and (min-width: 320px) {
  .header_background-text {
    display: grid;
    justify-content: center; }
    .header_background-text > h1 {
      margin: 0 auto;
      padding-top: 2.7em;
      color: white;
      font-size: 70px;
      text-align: center; }
    .header_background-text > h2 {
      margin: 0 auto;
      font-size: 40px;
      color: white; }
    .header_background-text > a {
      text-decoration: none;
      text-align: center; }
  .section_div h3, .section_div h4 {
    margin: 1rem auto; }
  .section_div a {
    padding-bottom: 20px; } }
