.section__backgroundVideo{
    display: flex;
    align-items: center;
    justify-content: center;
    &--video{
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        opacity: .9;
        &>source{
            width: 100%;
            height: auto;
        }
    }
    &--text{
        width: 100%;
        background-color: #cfd8dc22;
        position: absolute;
        color:rgb(255, 255, 255);
        text-align: center;
        &>h1{
            font-size: 80px;

        }
    }
}

.div__about{
    width: 100%;
    font-size: 20px;
    .section__about{
        padding-top: 4rem;
        width: 100%;
        height: 50vh;
        &>div>img{
            padding-top: 100px;
            width: 200px;
        }    
        &>div>.section__home--me{
            font-size: 22px;
            margin: 0 250px;
            &>p>strong{
                font-size: 25px;
                color: rgb(39, 104, 217);
            }
        }
    }
}

.section__contact{
    padding-top: 50px;
    &>div>h4{
        padding-top: 1.5em; 
    }
}

.img__footer{
    width: 30px;
    padding-right: 10px; 
}


