body{
    overflow: hidden; 
    background-color: #f7f7f7;
    font-family: 'Source Code Pro', monospace;
    height: 100%;
    width: 100%;
}

.container{
    margin: 20px 50px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; 
}

.cardContainer {
  background-color: #fafafa;
}

.contactContainer{
  margin-top: 50px;
}

.contactContainer a{
  margin: 50px 10px;
}

.contactContainer a:hover{
  color: #FFA398;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}
